{% macro render_form_errors(field) %}
    {% for error in field.errors %}
       <span style="color: #ff0000;">[{{ error }}]</span>
    {% endfor %}
{% endmacro %}

{% macro render_text_area(field) %}
    <p>
        <h2>{{ field.label }}</h2>
        {{ field(rows='20',cols='150') }}
        {{ render_form_errors(field) }}
    </p>
{% endmacro %}

{% macro render_field(field) %}
    <div class="row">
        <div class="col-15">
            {{ field.label }}
        </div>
        <div class="col-85">
            {{ field() }}
            {{ render_form_errors(field) }}
        </div>
    </div>
{% endmacro %}

