{% extends "base.html" %}
{% from "_formhelpers.html" import render_text_area %}
{% from "_formhelpers.html" import render_file_picker %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<form action="/" method="post" novalidate>
    {{ form.hidden_tag() }}

    {{ render_file_picker(form.content) }}
    <script>
        document.getElementById('file-selector')
            .addEventListener('change', function () {

                var fr = new FileReader();
                fr.onload = function () {
                    document.getElementById('content')
                        .textContent = fr.result;
                }

                fr.readAsText(this.files[0]);
            })
    </script>
    {{ render_text_area(form.content) }}
    <p>{{ form.convert() }}</p> <br><br>
    {{ render_text_area(form.bulk) }}

    {% if (form.bulk.data) %}
    <p>{{ form.submit() }}</p>
    {% endif %}
</form>

{% endblock %}