<!DOCTYPE html>
<html lang="en">
   <body>
      <h1>STIX-CTIM Converter</h1>

      <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

      <button type="button" onclick="window.location.href='{{ url_for( '.authorize') }}';">Authorize</button>

      <form action="/ui/translate" method="post" novalidate>
        {{ translate_form.hidden_tag() }}
        <p>
            {{ translate_form.content.label }}<br>
            {{ translate_form.content(rows='20',cols='150') }}
        </p>
        <p>{{ translate_form.submit() }}</p>
      </form>
      <form action="/ui/submit" method="post" novalidate>
        {{ submit_form.hidden_tag() }}
        <p>
            {{ submit_form.bundle.label }}<br>
            {{ submit_form.bundle(rows='20',cols='150') }}
        </p>
        <p>{{ submit_form.submit() }}</p>
    </form>
   </body>
</html>