{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_text_area %}

{% block content %}

    <form action='{{ url_for( '.authorize') }}'>
        <input style=" background-color: {{'#AF4C4C' if not authorized else '#4CAF50'}}" type="submit" value="Authorize" />
        <br><br>
    </form>

    <form action="/" method="post" novalidate>
        {{ form.hidden_tag() }}

        {{ render_text_area(form.content) }}
        {{ render_field(form.exclude) }}
        {{ render_field(form.external_id_prefix) }}
        {{ render_field(form.source) }}
        {{ render_field(form.source_uri) }}


           <h3> Indicator </h3>
          {{ form.indicator.hidden_tag() }}
        {{ render_field(form.indicator.title) }}
        {{ render_field(form.indicator.short_description) }}
        {{ render_field(form.indicator.confidence) }}
        {{ render_field(form.indicator.severity) }}
        {{ render_field(form.indicator.producer) }}

          <h3> Sighting </h3>
          {{ form.sighting.hidden_tag() }}
        {{ render_field(form.sighting.title) }}
        {{ render_field(form.sighting.short_description) }}
        {{ render_field(form.sighting.confidence) }}
        {{ render_field(form.sighting.severity) }}
        {{ render_field(form.sighting.count) }}
        {{ render_field(form.sighting.internal) }}


        <p>{{ form.translate() }}</p> <br><br>

        {{ render_text_area(form.bundle) }}

        {% if (form.bundle.data) %}
            <p>{{ form.submit() }}</p>
        {% endif %}
    </form>

{% endblock %}